<%- include ('../partials/boilerplateUser') %>

<div class='authContainer'>

  <div class="logoContainer">
    <img class="logo" src="/assets/budslogo.png">
  </div>
  <br/>


    <form class='authForm' method='POST' action='/user'>
      <input name='username' type='text' placeholder='username' required />
      <br/>
      <input name='email' type='email' placeholder='email' required />
      <br/>
      <input name='password' type='password' placeholder='password' required />
      <br/>
      <input class='authButton' type='submit' value='Register' />
    </form>
  </div>

<%- include('../partials/end') %>