<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div class="logoBox">
                <div class="logoContainerHeader">
                    <img class="logoHeader" src="/assets/budslogo.png">
                </div>
                <h1>Buds</h1>
            </div>
            <div class="searchSection">

                <form method="POST" action="/plants">
                    <input name="name" type="text" placeholder="Add a plant!" class="search">
                    <button class="searchButton" type="submit">Submit</i></button>
                    <!-- <button class="searchButton" type="submit"><i class="fa fa-search"></i></button> -->
                  </form>

            </div>
            <div class="plantAdd">
                <a class="nav redirect" href="/plants">Home</a>
                <a class="nav redirect" href="/auth/logout">Logout</a>
            </div>
        </header>