<%- include ('./partials/boilerplateUser') %>

<div class='authContainer'>

    <div class="logoContainer">
        <img class="logo" src="/assets/budslogo.png">
      </div>
      <br/>
      <h1>Welcome to Buds!</h1>
      <h2>The plant tracking app</h2>
      <a class="redirect" href="/auth/login">Login</a>
      <a class="redirect" href="/user/new">Register</a>


<%- include ('./partials/end') %>