<%- include ('../partials/boilerplate') %>



<div class="indexContainer">
    <% for (let plant of plants.plants) { %>
        <div class="largeContainer">
            <div class="indexPhotoContainer">
                <img class="indexPhoto" src="/assets/budslogo.png">
            </div>
            <div class="plantContainer">
                <div class="front box">
                    <h3><%= plant.plantName %></h3>
                </div>
                <div class="middle box">
                    <h3>Notes:Was having api trouble so this is what I have</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, ducimus necessitatibus.</p> 
                    <p>Voluptatibus voluptates ducimus distinctio minima eum aliquam debitis, accusantium,</p> 
                    <p>aliquid natus asperiores iste quo ad doloremque beatae aspernatur amet.</p>
                </div>
                <div class="back box">
                    <a class="redirect" href="/plants/<%= plant.id%>">Checkout</a>
                </div>
        </div>
        </div>
    <% } %>
</div>




<%- include ('../partials/end') %>